<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="/img/paint.png" alt="Le peintre des vosges">
    <a class="navbar-brand" href="{{path ("home")}}">Le Peintre Des Vosges</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{path ("réalisations") }}">Réalisation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path ("blogpost") }}">Actualité</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path ("a_propos") }}">A propos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{{ path ("portefolio") }}" role="button" aria-haspopup="true" aria-expanded="false">Portefolio</a>
          <div class="dropdown-menu">
            {% for categorie in categorieNavbar () %}
              <a class="dropdown-item" href="{{path ("portefolio_categorie", {"slug" : categorie.slug })}}">{{categorie.nom}}</a>
            {% endfor %}
        </li>
      </ul>
      <li class="d-flex">
        <a class="nav-link btn btn-secondary" href="">Me contacter</a>
      </li>
    </div>
  </div>
</nav>